.container {
    max-width: 100vw;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;

    .imageContainer {
        width: 100%;
        position: relative;
        max-height: 300px;
        height: 300px;
        img {
            
            object-fit: cover;
            object-position: 70% 50%;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5); 
            pointer-events: none; 
            max-height: 300px;
        }

        h1 {
            position: absolute;
            transform: translateX(-50%) ;
            top: 5rem;
            left: 50%;
            
            font-family: 'Dancing_Script';
            font-size: 5rem;
            color: var(--gray-100);
            text-align: center;
            
            z-index: 1;        
        }

        @media (max-width: 50rem) {
            img {
                max-height: 400px;               
                object-position: 50%;                
            }

            &::after {
                max-height: 400px;
            }

           
         }
    }
    
    .sectionContainer{
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        min-height: 100vh;
      
    }
}